/* Global */
.THIS .hide {
    display: none;
}

.THIS .container {
    max-width: 1140px;
    margin: auto;
}

.THIS .header {
    padding-bottom: 16px;
    border-bottom: 1px solid #d4d4d4;

    /* Sticky header */
    position: sticky;
    width: 100%;
    background: white;
    top: 0;
    z-index: 9005;
}

.THIS .header .header-top {
    padding-top: 16px;
}

.THIS .header .headerColumn {
    padding: auto;
}

.THIS.menuActive {
    position: relative;
    right: 75%;
}

/* Content */
.THIS .mainContentArea .siteforceSldsOneColLayout {
    max-width: 1140px;
    margin: auto;
}

/* Logo */
.THIS .logoContainer {
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 99;
    cursor: pointer;
    position: relative;
    max-width: 100%;
    max-height: 52px;
    display: block;
    outline: 0;
    height: 50px;
    margin-left: 1rem;
}

/* Search */
.THIS .search-button {
    display: none;
}

.THIS .forceCommunitySearchBox .result-container {
    width: auto;
    min-width: 100%;
    max-width: 50rem;
}

.THIS .searchRegion .forceCommunitySearchBox .search-field {
    padding: 0 1rem 0 .75rem;
    height: 32px;
    border: 1px solid #d4d4d4;
}

/* User Profile */
.THIS .profileMenuRegion {
    float: right;
}

/* Action Column */
.THIS .actionColumn {
    float: right;
    margin-right: 0.75rem;
}

/* Navigation */
.THIS .forceCommunityGlobalNavigation li:first-child {
    display: none;
}

.THIS .navigation {
    position: sticky;
    top: 83px;
    background-color: white;
    z-index: 9004;
}

.THIS .navigationContainer {
    border-bottom: 2px solid #d4d4d4;
}

.THIS .navigation .comm-navigation__list li {
    color: #1b9ddb;
}

.THIS .navigation .comm-navigation__list li:hover {
    color: white;
    background-color: #1b9ddb;
}

.THIS .navigation .comm-navigation__list li:active {
    color: white;
    background-color: #1b9ddb;
}

/* Mobile */
.THIS .mobileMenuRegion {
    float: right;
}

.THIS .forceCommunityGlobalNavigation .slds-button__icon {
    fill: #8DC8E8;
}

/* Mobile Search */
.THIS .forceCommunitySearchBox .mobile-search-icon .slds-button__icon {
    fill: #8DC8E8;
    margin-bottom: 0;
}

.THIS .forceCommunitySearchBox .mobile-search-icon {
    background-color: white;
    margin-right: 1em;
}

.THIS .mobileMenuRegion .forceCommunitySearchBox .body-search {
    top: 83px;
    z-index: 1000;
}

.THIS .mobileMenuRegion .forceCommunitySearchBox.focused .body-search .search-wrapper {
    padding: .55rem;
}

.THIS .mobileMenuRegion .forceCommunitySearchBox .curtain-blur {
    top: 83px;
}

.THIS .mobileMenuRegion .forceCommunitySearchBox .body-search .zero-state-panel {
    display: none;
}

.THIS .mobileMenuRegion .forceCommunitySearchBox .body-search .close-button {
    display: none;
}

.THIS .mobileMenuRegion .forceCommunitySearchBox .search-field {
    padding-right: 1rem;
    border: none;
    height: 2rem;
}

.THIS .mobile-search-icon {
    border: none !important;
}

/* My Profile */
.THIS .forceCommunityUserProfileStats {
    border-radius: 0;
}

.THIS .userHeaderDetail {
    border-radius: 0;
}

/* Post publisher */
.THIS .dummyButtonCallToAction {
    border-radius: 0;
    background-color: white !important;
    color: rgb(105, 105, 105) !important;
}

.THIS .dummyButtonCallToAction:hover {
    border-radius: 0;
    background-color: white !important;
    color: rgb(105, 105, 105) !important;
}

/* Buttons */
.THIS .slds-button {
    border-radius: 0;
}

.THIS .slds-button_brand {
    border: 1px solid #ff671f;
    background-color: #ff671f;
    border-radius: 0;
    color: white;
    cursor: pointer;
}

.THIS .slds-button_brand:hover {
    background-color: #eb4c00;
    color: white;
}

.THIS .slds-button--brand {
    background-color: #ff671f;
    border-radius: 0;
    color: white;
}

.THIS .slds-button--brand:hover {
    background-color: #eb4c00;
    color: white;
}

.THIS .slds-button-group-list li:first-child .slds-button,
.THIS .slds-button-group .slds-button:first-child,
.THIS .slds-button-group-list li:last-child .slds-button,
.THIS .slds-button-group .slds-button:last-child {
	border-radius: 0;
}

.THIS .slds-button--neutral {
    background-color: #ff671f;
    border-radius: 0;
    color: white;
}

.THIS .slds-button--neutral:hover {
    background-color: #eb4c00;
    color: white;
}

.THIS .slds-button--neutral:focus {
    background-color: #ff671f;
    color: white;
}

.THIS .slds-button--neutral:active {
    background-color: #ff671f;
    color: white;
}

.THIS .slds-button_neutral {
    background-color: #ff671f;
    border-radius: 0;
    color: white;
    border: 1px solid #ff671f;
}

.THIS .slds-button_neutral:hover {
    background-color: #eb4c00;
    color: white;
}

.THIS .slds-button_neutral:focus {
    background-color: #ff671f;
    color: white;
}

.THIS .slds-button_neutral:active {
    background-color: #ff671f;
    color: white;
}

.THIS button[disabled]{
    color: rgb(217, 219, 221);
    background-color: rgb(255, 255, 255);
    cursor: default !important;
    border-color: rgb(255, 255, 255);
}

.THIS button[disabled]:hover{
    color: rgb(217, 219, 221);
    background-color: rgb(255, 255, 255);
    cursor: default !important;
}

.THIS .slds-button_inverse {
    background-color: #b3b3b3;
    border-radius: 0;
    color: white;
    border: 1px solid #b3b3b3;
}

.THIS .slds-button_inverse:hover {
    background-color: #a3a3a3;
    color: white;
}

.THIS .slds-button_inverse:focus {
    background-color: #b3b3b3;
    color: white;
}

.THIS .slds-button_inverse:active {
    background-color: #b3b3b3;
    color: white;
}

/* Listbox items */
.THIS .slds-listbox__option,
.THIS .slds-listbox__option:focus {
    color: #1b9ddb;
    background-color: white;
}

.THIS .slds-listbox__option .slds-icon-text-default,
.THIS .slds-listbox__option:focus .slds-icon-text-default {
    fill: #1b9ddb;
}

.THIS .slds-listbox__option:hover {
    color: white;
    background-color: #1b9ddb;
}

.THIS .slds-listbox__option:hover .slds-icon-text-default {
    fill: white;
}

.THIS .slds-dropdown__item > a,
.THIS .slds-dropdown__item > a:focus {
    color: #1b9ddb;
    color: #1b9ddb;
    background-color: white;
}

.THIS .slds-dropdown__item > a .slds-icon-text-default,
.THIS .slds-dropdown__item > a:focus .slds-icon-text-default {
    fill: #1b9ddb;
}

.THIS .slds-dropdown__item > a:hover {
    color: white;
    background-color: #1b9ddb;
}

.THIS .slds-dropdown__item > a:hover .slds-icon-text-default {
    fill: white;
}

.THIS .slds-button .slds-button__icon_left,
.THIS .slds-button .slds-button__icon_right {
    margin-bottom: 3px;
}