.THIS .header{
    margin-top:10px;
    margin-left:100px;
    margin-right:100px;
    padding-bottom:5px;
    border-bottom: 1px solid darkslategray;
}

/* Logo */
.THIS .logoContainer {
    background-image: t('url(' + brandLogoImage  + ')');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 99;
    cursor: pointer;
    position: relative;
    max-width: 100%;
    max-height: 52px;
    display: block;
    outline: 0;
    height: 50px;
    margin-left: 1rem;
}

.THIS .navigation {
    position: sticky;
    top: 83px;
    background-color: white;
    z-index: 9004;
}

.THIS .navigationContainer {
    border-bottom: 2px solid #d4d4d4;
}

.THIS .navigation .comm-navigation__list li {
    color: #1b9ddb;
}

.THIS .navigation .comm-navigation__list li:hover {
    color: red;
    background-color: #1b9ddb;
}

.THIS .navigation .comm-navigation__list li:active {
    color: blue;
    background-color: #1b9ddb;
}