.THIS .cart-item{
    padding-left:10px;
    min-height: 80px;
    font-size:14px;
    border: 1px solid lightgray;
    width:60%;
    margin:auto;
    margin-top:10px;
}
.THIS .subheader{
    margin-top:10px;
}
.THIS .total-price-subheader{
    color:green;
    font-size:21px;
}
.THIS .cart-total-text{
    font-weight:600;
}
.THIS .btn-cart-text{
    font-size:16px;
}
.THIS .subheader-emtpy{
    margin-top:40px;
}