/**
 * Created by BRITENET on 10.07.2019.
 */
.THIS .cart-tile-body{
    height: 100%;
    width:100%;
    background-color: yellow;
    border: 1px solid black;
}
.THIS .img-container{
    height: 115px;
}
.THIS .cart-item-title{
    padding-top:20px;
    font-size:18px;
    font-weight:500;
}
.THIS .cart-item-quantity{
    padding-top:10px;
}

.THIS .icon-button{
    background-color:rgb(245,245,245);
}
.THIS .count-number{
    font-size:16px;
    font-color:white;
    color:white;
}
.THIS .total-price{
    padding-top:45px;
    font-size:18px;
    font-weight:500;
    font-color:darkgreen;
}

.THIS .total-price-color{
    color:darkgreen;
}
.THIS .btn-cart-go-to-details{
    color:black;
    font-color:yellow;
    padding-top:40px;
}

