/**
 * Created by BRITENET on 16.07.2019.
 */
.THIS .checkbox-pos{
    margin-left:20px;
}
.THIS .cell-value{
    padding-top:12px;
}

.THIS .cell-value-discount{
    padding-top:12px;
    color: blue;
    font-weight: bold;
}
