/**
 * Created by BRITENET on 09.07.2019.
 */
.THIS .tile-body{

    padding:10px;
    border: 1px solid lightgray;
}
.THIS .btn-name{
    font-size:16px;
    color: darkslategray;
}

.THIS .tile-body:hover{
    border: 1px solid black;
}
.THIS .img-body{
    width:120px;
}
.THIS .price-col{
    height:35px;
}
.THIS .price-discount{
    color:darkred;
}
.THIS .price-discount .price-value{
    font-size:16px;
}
.THIS .price-standard{
    padding-top:10px;
}